---
http_interactions:
- request:
    method: get
    uri: http://na.lolesports.com/api/programming.json?parameters%5Bmethod%5D=all&parameters%5Btournament%5D=175%2C177%2C178%2C179%2C176&parameters%5Bexpand_matches%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      etag:
      - W/"1413225917-1"
      last-modified:
      - Mon, 13 Oct 2014 18:45:17 +0000
      x-drupal-cache:
      - MISS
      x-riot-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"blockId":"2229","dateTime":"2014-09-18T09:00:00+00:00","tickets":"
        ","matches":[{"dateTime":"2014-09-18T09:00Z","matchName":"Edward Gaming vs
        Samsung White","winnerId":"648","matchId":"3077","url":"/tourney/match/3077","maxGames":"1","isLive":false,"isFinished":"1","tournament":{"id":"175","name":"Group
        A","round":"1"},"contestants":{"blue":{"id":"1847","name":"Edward Gaming","logoURL":"/sites/default/files/styles/grid_medium_square/public/EDG-logo_0.png?itok=j-PhZ4XA","acronym":"EDG","wins":6,"losses":6},"red":{"id":"648","name":"Samsung
        White","logoURL":"/sites/default/files/styles/grid_medium_square/public/Samsung-White.png?itok=YACCHFGp","acronym":"SSW","wins":12,"losses":1}},"gamesInfo":{"game0":{"id":"4013","winnerId":"648","noVods":"0","hasVod":1}},"liveStreams":false,"polldaddyId":"8302026:37766398:37766399"}],"leagueId":"4","tournamentId":"175","tournamentName":"Group
        A","significance":"0","tbdTime":"0","leagueColor":"#a0a0a0","week":"group
        a and b","body":[{"bodyTitle":null,"body":null,"bodyTime":"2014-09-09T20:15:00+00:00"}],"rebroadcastDate":"","label":"Group
        A - Taiwan"},{"blockId":"2284","dateTime":"2014-09-18T10:00:00+00:00","tickets":"
        ","matches":[{"dateTime":"2014-09-18T10:00Z","matchName":"Team SoloMid vs
        SK Gaming","winnerId":"1","matchId":"3096","url":"/tourney/match/3096","maxGames":"1","isLive":false,"isFinished":"1","tournament":{"id":"177","name":"Group
        B","round":"1"},"contestants":{"blue":{"id":"1","name":"Team SoloMid","logoURL":"/sites/default/files/styles/grid_medium_square/public/TSM%20logovec[...]
