<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="loading-wrapper">
        <h4 class="text-center">Waiting for game data...</h2>
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid" style="max-height: 100px; overflow-y: hidden;">
    {{#each}}
    <div class="well pull-left" data-match="{{_id}}">
      <div class="text-center">
        <div class="row">
          <div class="col-md-12">{{contestant_array.[0].name}}</div>
        </div>
        <div class="row">
          <div class="col-md-12">vs.</div>
        </div>
        <div class="row">
          <div class="col-md-12">{{contestant_array.[1].name}}</div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</nav>
