<div class="container-fluid">
  <div class="row center-block" style="width: 640px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Notification Settings</h4>
        <input type="checkbox" {{action notifyGameStart}}> Game Start
        <input type="checkbox" {{action notifyGameEnd}}> Game End
      </div>
    </div>
  </div>
</div>
